absl-py
accelerate==0.26.1
aiohttp
aiosignal
alabaster
anaconda-client
anaconda-cloud-auth
anaconda-project
anyio
anytree==2.12.1
appdirs==1.4.4
argon2-cffi
argon2-cffi-bindings
arrow
art==5.9
astroid
asttokens
astunparse==1.6.3
async-lru
async-timeout
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backcall
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
bert-score==0.3.13
binaryornot
bitarray
black
bleach
blinker==1.7.0
boltons
boto3
botocore
bpemb==0.3.4
Brotli
brotlipy==0.7.0
cachetools
catboost==1.2.2
certifi
cffi
chardet
charset-normalizer
click==8.1.7
cloudpickle
clyent==1.2.2
colorama
colorcet
comm
comtypes==1.1.10
conda
conda-build
conda-content-trust
conda-pack
conda-package-handling
conda-repo-cli==1.0.75
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
conllu==4.5.3
constantly==15.1.0
contourpy==1.2.0
cookiecutter
cryptography
cssselect==1.1.0
cycler
Cython
cytoolz
dask
datasets==2.16.1
debugpy
decorator
defusedxml
Deprecated==1.2.14
diff-match-patch
dill==0.3.7
distributed
docopt==0.6.2
docutils
editdistance==0.6.2
entrypoints
et-xmlfile==1.1.0
exceptiongroup
executing
fastjsonschema
filelock
flair==0.13.1
flake8
Flask==3.0.1
flatbuffers
fonttools==4.25.0
frozendict==2.3.8
frozenlist
fsspec
ftfy==6.1.3
future
gast
gdown==5.0.1
gensim==4.3.2
glob2
google-auth
google-auth-oauthlib
google-pasta
graphviz
greenlet
grpcio
HeapDict
html5lib==1.1
huggingface-cli==0.1
huggingface-hub==0.19.4
hyperlink
idna
imagesize
importlib-metadata
importlib-resources==6.1.1
incremental
inflection==0.5.1
iniconfig
inquirerpy==0.3.4
intervaltree
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous==2.1.2
Janome==0.5.0
jaraco.classes
jdcal
jedi
jellyfish
jieba==0.42.1
Jinja2==3.1.3
jinja2-time
jmespath
joblib==1.3.2
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
kiwisolver
langdetect==1.0.9
language-tool-python==2.7.1
lazy-object-proxy
lemminflect==0.2.3
libarchive-c
lightgbm==4.1.0
linkedin-api==2.0.1
llvmlite==0.38.0
lmdb
locket
lru-dict==1.3.0
lxml
lz4
Markdown
MarkupSafe
matplotlib==3.8.2
matplotlib-inline
mccabe==0.6.1
menuinst
mistune
mkl-service==2.4.0
mock
more-itertools
mpld3==0.5.10
mpmath==1.2.1
msgpack
multidict
multipledispatch
multiprocess==0.70.15
multitasking==0.0.11
munkres==1.1.4
mypy-extensions==0.4.3
navigator-updater
nbclassic
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
nose
notebook
notebook_shim
num2words==0.5.13
numpy==1.26.3
numpydoc
oauthlib
olefile
opencv-python==4.7.0.72
OpenHowNet==2.0
openpyxl==3.0.10
overrides
packaging
pandas==2.2.0
pandas-datareader==0.10.0
pandocfilters
param
paramiko
parsel
parso
partd
pathlib
pathspec
pep8==1.7.1
pexpect
pfzy==0.3.4
pickleshare
Pillow
pinyin==0.4.0
pipreqs==0.4.13
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
poyo
pptree==3.1
prometheus-client
prompt-toolkit
Protego
protobuf==3.20.1
psutil
ptyprocess
pure-eval
py
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1
pyasn1-modules==0.2.8
pycld2
pycm==3.8
pycodestyle
pycosat
pycparser
pyct
pycurl==7.45.1
pydantic
PyDispatcher==2.0.5
pydocstyle
pyee==8.2.2
pyflakes
Pygments
PyHamcrest
PyJWT
pylint
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyPDF2
pyppeteer==1.0.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip
PyQt6==6.6.1
PyQt6-Qt6==6.6.1
PyQt6-sip==13.6.0
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
pyrsistent
PySocks
pytest==7.1.2
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-slugify
python-snappy
python-twitter==3.5
python3-linkedin==1.0.2
pytorch_revgrad==0.2.0
pytz==2023.3
pyviz-comms
pywin32==305.1
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib==1.5.0
referencing
regex
requests
requests-file
requests-oauthlib==1.3.0
requests-toolbelt
rfc3339-validator
rfc3986-validator
rope
rpds-py
rsa
Rtree
ruamel-yaml-conda
ruamel.yaml
ruamel.yaml.clib
s3transfer
safetensors==0.4.1
scikit-learn==1.4.0
scipy==1.12.0
Scrapy
segtok==1.5.11
semver==3.0.2
Send2Trash
sentence-transformers==2.2.2
sentencepiece==0.1.99
service-identity
sip
six
smart-open
sniffio
snowballstemmer
sortedcollections
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
sqlitedict==2.1.0
stack-data
sympy
tabulate
TBB==0.2
tblib
tenacity
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
tensorflow-hub==0.13.0
termcolor
terminado
terminaltables==3.1.10
testpath
text-unidecode
textattack==0.3.9
textblob==0.17.1
textdistance
threadpoolctl
three-merge
tinycss
tinycss2
tldextract
tokenizers==0.15.0
toml
tomli
tomlkit
toolz
torch==2.1.2
torchvision==0.16.2
tornado
tqdm
traitlets
transformer-smaller-training-vocab==0.3.3
transformers==4.36.1
tweepy==4.14.0
Twisted
twisted-iocpsupport
typing_extensions
tzdata==2023.4
ujson
Unidecode
urllib3
w3lib
watchdog==3.0.0
wcwidth==0.2.13
webencodings==0.5.1
websocket-client
websockets==10.4
Werkzeug==3.0.1
widgetsnbextension
Wikipedia-API==0.6.0
win-inet-pton
win-unicode-console==0.5
wincertstore==0.2
word2number==1.1
wrapt
xlrd
XlsxWriter
xlwings
xxhash==3.4.1
yapf
yarg==0.1.9
yarl
yfinance==0.2.18
zict
zipp
zope.interface
zstandard==0.19.0
